.login{
  width: 400px;
  margin: 30px auto;
border: 1px solid gray;
background-color: white;
border-radius: 10px;
}
.login .left{
  width: 100%;
  background: teal; 
  border-radius: 10px 10px 40px 40px;
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  color: white;
}
.login .left h3{
  font-size: 1.3rem;
  text-align: center;
  margin-top: 10px;
}
.login .left p{
  font-size: 1rem;
  text-align: center;
  margin-bottom: 10px;
  
}

.login .right h2{
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem 4rem;
} 
.login form{
 width: 85%;
 margin: auto;
 /* border: 2px solid red; */
 display: flex;
 
 flex-direction: column;
 justify-content: center;
}
.login form p{
 margin: 5px 0 10px;
 padding: 4px;
}
.login form a{
color: slateblue;
}
.login form input{
 padding: 8px 15px;
 font-size: 1rem;
 border-radius: 10px;
 border: 1px solid gray;
}
.login form button{
 padding: 8px 15px;
 font-size: 1rem;
 background-color: teal;
 color: white;
 font-size: 1.2rem;
 border-radius:20px ;
 border: none;
}
.login form button:hover{
  background-color: rgb(10, 83, 83);
}

@media only screen and (max-width:767px){
  .login{
      width: 85%;
  }
  .login .right h2{
      text-align: center;
      font-size: 1.3rem;
      padding: 2rem 4rem;
  } 
} 