.appointment {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}

.appointment .left-section,
.right-section {
      /* border: 2px solid green; */
    flex: 1;
    padding: 20px;
  }
  .success-message{
    width: fit-content;
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 10px;
  }
  .left-section img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .appointment-form {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 7.2px;
  }
  
  .appointment-form h2 {
    margin-bottom: 0px;
  }
  
  .appointment-form label {
    display: flex;
    flex-direction: column;
    gap: 0px;
    font-weight: 600;
  }
  
  .appointment-form input ,
  .appointment-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }
  .appointment-form select{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }
  .appointment-form button {
    padding: 10px 20px;
    background-color: teal;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  .appointment-form button:hover {
    background-color: rgb(10, 95, 95);
  }
  
  @media (max-width: 768px) {
    .appointment {
      flex-direction: column;
    }
  
    .left-section,
    .right-section {
      padding: 0;
    }
  
    .appointment-form {
      width: 100%;
    }
  }
  