.material-icons-outlined {
    margin: 0 10px;
    vertical-align: middle;
    line-height: 1;
  }
  
  .text-primary {
    color: #666666;
  }
  
  .text-blue {
    color: #246dec;
  }
  
  .text-red {
    color: #cc3c43;
  }
  
  .text-green {
    color: #367952;
  }
  
  .text-orange {
    color: #f5b74f;
  }
  
  .font-weight-bold {
    font-weight: 600;
  }
  
  .dashboard-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "sidebar header header header"
      "sidebar main main main";
    height: 100vh;
  }
  
  /* ---------- HEADER ---------- */
  
  .header {
    grid-area: header;
    height: 70px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
  }
  
  .menu-icon {
    display: none;
  }
  
  /* ---------- SIDEBAR ---------- */
  
  #sidebar {
    grid-area: sidebar;
    height: 100%;
    background-color: rgb(48, 47, 47);
    color:white;
    overflow-y: auto;
    transition: all 2s ease-in-out;
    z-index: 12;
  }

.sidebar-list-item.active {
  background-color: slateblue;
  color: #ffffff; 
}

/* ... */

  
  .sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 30px;
  }
  
  .sidebar-title > span {
    display: none;
  }
  
  .sidebar-brand {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
  }
  .site-logo{
    display: none;
  }
  .sidebar-list {
    width: 100%;
    padding: 0;
    margin-top: -60px;
    list-style-type: none;
    /* border: 2px solid red; */
  }
  
  .sidebar-list-item {
    /* padding: 20px; */
    /* background-color: green; */
    margin: 10px 0;
    padding: 10px;
}

.sidebar-list-item:hover {
    /* background-color: rgba(255, 255, 255, 0.2); */
    cursor: pointer;
}

.sidebar-list-item > a {
    text-decoration: none;
    color: #9799ab;
    display: block;
    /* background-color: red; */
    padding: 20px;
    margin: 5px 0;
  }
  
  .sidebar-responsive {
    width: 100%;
    display: inline !important;
    position: absolute;
    transition: 2s ease-in-out;
  }
  
  .header-left{
    width: 60%;
    
  }
  .header-left input{
    width: 50%;
border-radius: 10px;
    border: 2px solid gray;
    padding: 10px;
    
  }
  .header-right i{
    margin: 0 10px;
  }
  /* ---------- MAIN ---------- */
  
  .main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px;
  }
  
  .main-title {
    display: flex;
    justify-content: space-between;
  }
  
  .main-title > p {
    font-size: 20px;
  }
  
  
  
  /* ---------- SCROLLBARS ---------- */
  
  ::-webkit-scrollbar {
    width: 5px;
    height: 6px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #a5aaad;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #4f35a1;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a5aaad;
  }
  
  /* ---------- MEDIA QUERIES ---------- */
  
  /* Medium <= 992px */
  @media screen and (max-width: 992px) {
    .dashboard-container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 3fr;
      grid-template-areas:
        "header"
        "main";
    }
  
    #sidebar {
      display: none;
    }
  
    .menu-icon {
      display: inline;
    }
  
    .sidebar-title > span {
      display: inline;
    }
  }
  

  /* Extra Small <= 576px */
  @media screen and (max-width: 576px) {
    .header-left {
      display: none;
    }
    .site-logo{
      display: inline;
      position: absolute;
      left: 80px;
      font-size: .8rem;
    }
    .sidebar-list{
      padding: 10px;
    }
    .main-cards {
      gap: 10px;
    }
  
    .card {
      padding: 15px;
      margin-bottom: 10px;
    }
  
    .charts-card {
      padding: 15px;
    }
  }
  